body{
    margin: 0%;
    background-color: blanchedalmond;
}
div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}